<body class="private-body">

<div class="cover-img">
  <img
    src="/images/grupo.jpeg"
    class="img-fluid"
    alt="Illustration disabled people"/>
  <div class="doverlay"></div>

</div>

 <div class="places">
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/honorato_oriente.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Restaurants</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/cinema.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Culture</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/nazare.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Tours</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/concerts.jpeg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Concerts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>
    </div>
  

    <div class="btn-section-one">
    <a href="/profile" class="btn btn-info2 animation">Collaborate!</a></button>
    
    <a href="/places" class="btn  btn-info2 animation">Places</a> 
    </div>
</body>