<div class="container">

  <h1 class="float-left">Welcome, {{username}}</h1>

  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="/">Home</a>
      </li>
      <li><a class="nav-link" href="/">About</a>
      </li>

      <li>
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li>
        <a class="nav-link" href="/auth/login">LogOut</a>
      </li>
    </ul>
  </nav>
</div>

<div class="cover-img">
  <img
    src="/images/grupo.jpeg"
    class="img-fluid"
    alt="Illustration disabled people"/>
  <div class="doverlay"></div>

</div>



{{!-- <div class="box2 mask img responsive"></div> --}}