<div class="container">

    <h1 class="float-left">LISBON FOR ALL</h1>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li><a class="nav-link" href="/">About</a>
            </li>

            <li>
                <a class="nav-link" href="/">Contact</a>
            </li>
            <li>
                <a class="nav-link" href="/auth/login">Login</a>
            </li>
        </ul>
    </nav>
</div>

<div class="cover-img">
    <img src="/images/grupo.jpeg" class="img-fluid" alt="Illustration disabled people">
    <div class="doverlay"></div>

</div>

<div class="box2 mask img responsive"></div>


<div class="container">
    <div class="container-fluid">
        <div class="text-signup">
            <p> Join our community and share your experience!</p>

        </div>

        <div class="btn-signup">
            <button class="animation" type="submit"><a href="/views/auth/signup" >Sign up </a></button>
        </div>

    </div>