<div class="container">

    <h1 class="float-left">LISBON FOR ALL</h1>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li><a class="nav-link" href="/">About</a>
            </li>

            <li>
                <a class="nav-link" href="/">Contact</a>
            </li>
            <li>
                <a class="nav-link" href="/auth/login">Login</a> 
            </li>
             <li>
                <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>

<div class="cover-img">
    <img src="/images/grupo.jpeg" class="img-fluid" alt="Illustration disabled people">
    <div class="doverlay"></div>

</div>

<div class="box2 mask img responsive"></div>


<div class="container">
    <div class="container-fluid">
        <div class="text-signup">
            <p> Join our community and share your experience!</p>

        </div>

        <div class="btn-signup">
            <button class="animation" type="submit"><a href="/auth/signup" >Sign up </a></button>
        </div>

    </div>

     <div class="places">
        <div class="card row" style="width: 18rem;">

            <img class="card-img-top" src="/images/lisbonforall.jpg" alt="Card image Tour">
            <div class="card-body">
                <h5 class="card-title">Restaurants</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-info">See Details</a>
            </div>

        </div>

        <div class="card row" style="width: 18rem;">

            <img class="card-img-top" src="/images/lisbonforall.jpg" alt="Card image Tour">
            <div class="card-body">
                <h5 class="card-title">Culture</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-info">See Details</a>
            </div>

        </div>

        <div class="card col-mr-3" style="width: 18rem;">

            <img class="card-img-top" src="/images/lisbonforall.jpg" alt="Card image Tour">
            <div class="card-body">
                <h5 class="card-title">Tours</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-info">See Details</a>
            </div>

        </div>

        <div class="card row" style="width: 18rem;">

            <img class="card-img-top" src="/images/lisbonforall.jpg" alt="Card image Tour">
            <div class="card-body">
                <h5 class="card-title">Concerts</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-info">See Details</a>
            </div>

        </div>
    </div> 