<div class="container">

    <h1 class="float-left">LISBON FOR ALL</h1>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li><a class="nav-link" href="/">About</a>
            </li>

            <li>
                <a class="nav-link" href="/">Contact</a>
            </li>
            <li>
                <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li>
                <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>

<div class="cover-img">
    <img src="/images/grupo.jpeg" class="img-fluid" alt="Illustration disabled people">
    <div class="doverlay"></div>

</div>

<div class="box2 mask img responsive"></div>


<div class="container">
    <div class="container-fluid">
        <div class="text-signup">
            <p> Join our community and share your experience!</p>

        </div>

        <div class="btn-signup">
            <button class="animation" type="submit"><a href="/auth/signup">Sign up </a></button>
        </div>

    </div>

    <hr class="box4">


    <div class="places">
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/honorato_oriente.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Restaurants</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/cinema.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Culture</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/nazare.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Tours</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/concerts.jpeg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Concerts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>
    </div>
    <div class="btn-section-one"><a href="/auth/login" class="btn btn-info2 animation">See Details</a> </div>

    <hr class="box3">

    <section>
        <div class="text-signup container">
            <p class="community-title"> Our Community</p>

            {{!-- <div class="shape-behind-card">
                <div class="card row border-0" style="width: 15rem;">

                    <img class="card-img-top" src="/" alt="User Photo">
                    <div class="card-body">
                        <h5 class="card-title">{{username}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="/auth/login" class="btn btn-info animation">See Details</a>
                    </div>

                </div>
            </div> --}}



        </div>

    </section>