

<div class="cover-img">
    <img src="/images/grupo.jpeg" class="img-fluid" alt="Illustration disabled people">
    <div class="doverlay"></div>

</div>

<div class="box2 mask img responsive"></div>



<div class="container-index">
    {{#unless loggedIn}}
    {{!-- <div class="container-fluid"> --}}
        <div class="last-div-pls">
        <div class="text-signup1">
            <p> Join our community!</p>

        </div>

        <div class="btn-signup">
            <button class="animation" type="submit"><a href="/auth/signup">Sign up </a></button>
        </div>
        </div>
     {{/unless}}
        {{!--
    </div> --}}

    {{!--
    <hr class="box4"> --}}


    <div class="places">
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/honorato_oriente.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Restaurants</h5>
                    <p class="card-text">Some of the restaurants that you can easily access.Click on the button bellow to check them!</p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/cinema.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Culture</h5>
                    <p class="card-text">Cultural events/places that thinks about everyone. Check the tips of our community! </p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/nazare.jpg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Tours</h5>
                    <p class="card-text">Everybody loves to travel. Even more if you have the support you need. Our community shared some nice tour, check them out!</p>

                </div>

            </div>
        </div>
        <div class="shape-behind-card">
            <div class="card row border-0" style="width: 15rem;">

                <img class="card-img-top" src="/images/concerts.jpeg" alt="Card image Tour">
                <div class="card-body">
                    <h5 class="card-title">Concerts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>

                </div>

            </div>
        </div>

    </div>

    <div class="btn-section-one"><a href="/places" class="btn btn-info2 animation">See Places</a>
    </div>


    <section class="community-section">


        <hr class="box3">
       



        <div class="text-signup">

            <p> Our Community</p>
        </div>


        <div class="places">
            <div class="shape-behind-card">
                <div class="card row border-0" style="width: 15rem;">

                    <img class="card-img-top" src="/images/mariafonseca.jpg" alt="User Photo">
                    <div class="card-body">
                        <h5 class="card-title">Maria Fonseca</h5>
                        <p class="card-text"> "I love this exchange of experiences and it has helped a lot to find the
                            perfect places and have fun!"</p>

                    </div>

                </div>
            </div>



            <div class="shape-behind-card">
                <div class="card row border-0" style="width: 15rem;">

                    <img class="card-img-top" src="/images/jorgepereira.jpg" alt="User Photo">
                    <div class="card-body">
                        <h5 class="card-title">Jorge Pereira</h5>
                        <p class="card-text"> "Being able to share and getting to know new places is really cool!"
                        </p>

                    </div>

                </div>
            </div>



            <div class="shape-behind-card">
                <div class="card row border-0" style="width: 15rem;">

                    <img class="card-img-top" src="/images/joana.jpg" alt="User Photo">
                    <div class="card-body">
                        <h5 class="card-title">Joana Costa</h5>
                        <p class="card-text"> "I love this exchange of experiences and it has helped a lot to find the
                            perfect places and have fun!"</p>

                    </div>

                </div>
            </div>
        </div>


</div>
</div>


</section>


