<form action="/reviews/create/{{user._id}}/{{placeId._id}}" method="post">
  <select name="user" id="author">

    <option value="{{user._id}}">{{user.username}}</option></select>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>

  <button type="submit">Create Review!</button>

</form>