<form action="/places-reviews" method="post">
  <select name="author" id="author">
    {{#each review}}

      <p>{{user}}</p>
      <p>{{content}}</p>

      <button type="submit">Delete this review!</button>

    {{/each}}

    <button type="submit">Create a new review!</button>
  </select>

</form>