<div class="container">

  <h1 class="float-left">Welcome, {{username}}</h1>

  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="/">Home</a>
      </li>
      <li><a class="nav-link" href="/">About</a>
      </li>

      <li>
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li>
        <a class="nav-link" href="/auth/login">LogOut</a>
      </li>
    </ul>
  </nav>
</div>

<h2> Want to share any discovery?</h2>
<h3> Help us </h3>

<form action="/profile" method="POST" id="placesform">
  <label for="places">Places:</label>
  <select name="places" id="places" form="placesform">
  <option value="restaurants">Restaurants</option>
  <option value="tours">Tours</option>
  <option value="concerts">Concerts</option>
  <option value="culture">Culture</option>
  </select>

   <label for="name">Name:</label>
   <input type ="text" id="name" name="name">

    <label for="image">Image:</label>
    
    <input type ="text" id="name" name="places">

     <label for="location">Location:</label>
     <input type ="text" id="location" name="location">

     <label for="website">Website:</label>
     <input type ="text" id="website" name="website">

      <label for="accessibility">Accessibility:</label>
     <input type ="text" id="accessibility" name="accessibility">

      <label for="description">Description:</label>
     <input type ="text" id="description" name="description">

<button type="submit"> Collaborate </button>
  
</form>

